body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

body h1{
    text-align: center;
}

.section-title {
    font-weight: bold;
    text-align: center;
}

.footer {
    background-color: bisque;
    text-align: center;
    padding: 20px;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline
}